<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registrirajte se na sustav</title>
</head>
<body>
<form th:action="@{/register_user}" th:object="${user}" method="post">
    <label>Unesite vase ime</label>
    <input type="text" th:field="*{firstname}" placeholder="Vase ime" />
    <br />
    <label>Unesite vase Prezime</label>
    <input type="text" th:field="*{lastname}" placeholder="Vase prezime" />
    <br />
    <label>Unesite vase email adresu</label>
    <input type="email" th:field="*{email}" placeholder="Vase email adresu" />
    <br />
    <label>Unesite vase lozinku</label>
    <input type="password" th:field="*{password}" placeholder="Vase lozzinka" />
    <br />
    <button type="submit">Registriraj se</button>
</form>
</body>
</html>